.app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
}

.boards{
    display: flex;
    width: 100%;
}

.boards_items{
    display: flex;
    flex-direction: column;
    align-self: baseline;
    max-width: 250px;
    width: 100%;
    min-height: 200px;
    background: rgba(0,0,0, .5);
    margin: 0 15px;
    padding: 10px;
    transition: .3s all ease;
    border-radius: 3px;
}
.title{
    padding: 5px;
}
.title:focus{
    outline: 1px solid red;
}
.list{
    min-height: 40px;
}
.list_item{
    background-color: #fefefe;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 4px 0;
    cursor: pointer;
    font-weight: 40px;
    font-size: 14px;
    outline: none;
    border: none;
}
.form{
    border-radius: 3px;
    margin-top: auto;
    display: none;
}
.textarea{
    resize: none;
    height: 60px;
    border-right: 3px;
    border: none;
    background: white;
    padding: 10px;
    width: 100%;
}
.container2 {
    display: flex;
    justify-content: center;
}

.tasks__title {
    margin: 50px 0 20px 0;

    text-align: center;
    text-transform: uppercase;
}

.tasks__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.tasks__item {
    max-width: 250px;
    margin-bottom: 10px;
    padding: 5px;

    text-align: center;
    border: 2px dashed #b2d9d0;
    border-radius: 10px;
    cursor: move;
    background-color: #dff2ef;

    transition: background-color 0.5s;
}

.tasks__item:last-child {
    margin-bottom: 0;
}

.selected {
    opacity: 0.6;
    background-color: #d2cfea;
}

